# Simpl Modules
simpl-modelservice==0.7.15

# Django
django>=1.11.15,<1.12
django-environ==0.4.4
django-click==2.0.0


jslog4kube==1.0.6
idna==2.5

# tests
pytest==4.6.3
pytest-cov==2.7.1
pytest-django==3.5.0

